@use "variables" as *;

@keyframes pulse-critical {
  0% { box-shadow: 0 0 0 0 rgba($error-color, 0.4); }
  70% { box-shadow: 0 0 0 10px rgba($error-color, 0); }
  100% { box-shadow: 0 0 0 0 rgba($error-color, 0); }
}
