@use "variables" as *;

popover calendar {
  background-color: rgba($cp-blue, 0.2);
  color: $text-color;
  border: 2px solid $border-color;
  border-radius: 12px;

  &.view { background-color: rgba($cp-blue, 0.2); }

  header {
    background: transparent;
    border: none;
    button {
      background: transparent;
      border: none;
      box-shadow: none;
      color: $text-color;
      font-weight: bold;
      &:hover { background-color: $hover-color; }
    }
  }

  grid {
    background: transparent;
    label {
      background: transparent;
      color: $text-color;
      &.today {
        background-color: $accent-color;
        color: $cp-dark;
        border-radius: 50%;
        font-weight: bold;
        box-shadow: 0 0 5px $accent-color;
      }
    }
    &:selected {
      background-color: $active-color;
      color: $text-color;
      border-radius: 50%;
    }
    label:hover {
      background-color: $hover-color;
      border-radius: 5px;
    }
  }
}
